* {
    font-family: 'Press Start 2P';
    line-height: 2rem;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 
body {
    background-color: black;
}

.container {
    position: absolute;
    top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -35%);
  transform: translate(-50%, -35%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: max-content;
    height: max-content;
    border: 3px solid black;
    padding: 20px;
    background-color:white;
}

.btn {
    background-color: transparent;
    padding: 0.5rem;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color:rgb(232, 232, 232);
}

.input {
    padding: 0.5rem;
}

.hidden-el {
    display: none;
}
#level-container {
    position: absolute;
    width: 768px;
    height: 500px;
    overflow: hidden;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -35%);
    transform: translate(-50%, -35%);
    border: 10px ridge rgba(114, 114, 114, 0.8);
}

.level-bar {
    display: flex;
    width: 700px;
    margin: 10px auto;
    padding: 10px;
    justify-content: space-around;
    background-color:rgba(255, 255, 255, 0.587);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#enemy {
position: relative;
} 

#enemy:hover {
   cursor: pointer; 
}

#enemy:active {
    animation: shake 0.6s;
    transform: translate(0, 0);
}

@keyframes shake {
    10%, 90% {
      transform: translateX(-1px);
    }
    
    20%, 80% {
      transform: translateX(2px);
    }
  
    30%, 50%, 70% {
      transform: translateX(-4px);
    }
  
    40%, 60% {
      transform: translateX(4px);
    }
  }